[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory={{ dir_app }}
Environment="PATH={{ dir_app }}/venv/bin"
ExecStart={{ dir_app }}/venv/bin/uwsgi --ini /etc/{{ app_name }}/uwsgi.ini

[Install]
WantedBy=multi-user.target
