[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory={{ app_dir }}
Environment="PATH={{ app_dir }}/venv/bin"
ExecStart={{ app_dir }}/venv/bin/uwsgi --ini /etc/{{ app_name }}/uwsgi.ini

[Install]
WantedBy=multi-user.target
